<IfModule mod_rewrite.c>
    RewriteEngine On

    # Direct non-file and non-directory requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
